<!DOCTYPE html>
<html lang="en">

<head>
    <title>About - PneumoScan AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

    <div class="logo">PneumoScan AI</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>

<div class="page-container">

    <h1>About Our AI System</h1>

    <p>
        PneumoScan AI is an intelligent medical imaging platform
        developed using Deep Learning and CNN technology.

        The system analyzes chest X-ray images and helps detect
        pneumonia quickly and efficiently.
    </p>

    <p>
        This project demonstrates the use of Artificial Intelligence
        in healthcare diagnostics and disease detection.
    </p>

</div>

</body>
</html>