<!DOCTYPE html>
<html lang="en">

<head>
    <title>Services - PneumoScan AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

    <div class="logo">PneumoScan AI</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>

<div class="page-container">

    <h1>Our Services</h1>

    <div class="service-grid">

        <div class="service-card">
            <h2>Pneumonia Detection</h2>
            <p>AI-based chest X-ray disease prediction system.</p>
        </div>

        <div class="service-card">
            <h2>Medical Imaging</h2>
            <p>Advanced Deep Learning image analysis technology.</p>
        </div>

        <div class="service-card">
            <h2>Healthcare AI</h2>
            <p>Intelligent healthcare diagnostic support system.</p>
        </div>

    </div>

</div>

</body>
</html>